
.container {
	border: 1px solid black;
	text-align: center;
	box-sizing: border-box;
}


#pagecontent {
  font-size: 12px;
	height: 100%;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	padding-bottom: 50px;
	overflow: hidden;
}

#wrapper {
	height: 400px;
	width: 250px;
	float: right;
}

#login {
	height: 90px;
	padding-top: 15px;
	padding: 3px;
}

#signup {
	height: 300px;
	margin-top: 10px;
	padding: 3px;
}

.row {
	overflow: hidden;
	width: 100%;
	padding-top: 4px;
}

label {
	float: left;
}

input[type=text],
input[type=email]:not(.searchbar),
input[type=password] {
	display: inline-block;
	border: 1px solid #ccc;
	float: right;
	width: 150px;
}

.button {
	float: right;
}

select {
	width: 150px;
	float: right;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
	padding-bottom: 30px;
}

#welcomeimg {
	height: 400px;
	width: 340px;
	float: left;
}

#feedback{
 position: absolute;
 height: 200px;
 width: 300px;
 background-color: white;
 z-index: 10;
 top: 150px;
 left:50%;
 transform: translateX(-50%);
 overflow: hidden;
 text-align: center;
 padding: 10px;
 border: 1px solid #888;
 display:none;
}

#close {
  color: #aaaaaa;
  float: right;
  font-size: 15px;
  font-weight: bold;

}
#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#changepw{
top: 50px;
width:45%;
height: 180px;
padding: 3px;
float: left;
}

#logout{
top: 50px;
width:45%;
height: 180px;
padding: 3px;
float: right;
}

#account{
overflow: hidden;
width:100%;
}

#logoutbutton{
	position: relative;
	top:30px;
}

.searchbar{
position: relative;
float: left;
padding: 6px;
width:300px;
}

#search{
float:left;
height: 29px;
}

#browsercontent{
height: 100%;
}

.profile{
display: none;
}

.messageWall{
	position:relative;
	top: 30px;
  height: 100%;
  width: 100%;
}

.post{
	border: 1px solid black;
	text-align: center;
	box-sizing: border-box;
	width: 50%;
	left: 50%;
	transform: translateX(50%);
	}

	.bold{
		font-weight: bold;
	}
