
.container {
	border: 1px solid black;
	text-align: center;
	box-sizing: border-box;
	padding: 3px;
}


#welcomecontent {
  font-size: 12px;
	height: 400px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	overflow: hidden;
}

#wrapper {
	height: 400px;
	width: 250px;
	float: right;
}

#login {
	height: 90px;
	padding-top: 15px;
}

#signup {
	height: 300px;
	margin-top: 10px;
}

.row {
	overflow: hidden;
	width: 100%;
	padding: 2px;
}

label {
	float: left;
}

input[type=text],
input[type=password] {
	display: inline-block;
	border: 1px solid #ccc;
	float: right;
	width: 150px;
}

button {
	float: right;
}

select {
	width: 150px;
	float: right;
}

#welcomeimg {
	height: 400px;
	width: 340px;
	float: left;
}
