
.container {
	border: 1px solid black;
	text-align: center;
	box-sizing: border-box;
}


#pagecontent {
  font-size: 12px;
	height: 400px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	overflow: hidden;
}

#wrapper {
	height: 400px;
	width: 250px;
	float: right;
}

#login {
	height: 90px;
	padding-top: 15px;
	padding: 3px;
}

#signup {
	height: 300px;
	margin-top: 10px;
	padding: 3px;
}

.row {
	overflow: hidden;
	width: 100%;
	padding-top: 4px;
}

label {
	float: left;
}

input[type=text],
input[type=email],
input[type=password] {
	display: inline-block;
	border: 1px solid #ccc;
	float: right;
	width: 150px;
}

button {
	float: right;
}

select {
	width: 150px;
	float: right;
}

#welcomeimg {
	height: 400px;
	width: 340px;
	float: left;
}

#feedback{
 position: absolute;
 height: 200px;
 width: 300px;
 background-color: white;
 z-index: 10;
 top: 150px;
 left:50%;
 transform: translateX(-50%);
 overflow: hidden;
 text-align: center;
 padding: 10px;
 border: 1px solid #888;
 display:none;
}

#close {
  color: #aaaaaa;
  float: right;
  font-size: 15px;
  font-weight: bold;

}
#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
